<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>Add Course</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1,	minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="./common/css/app.min.css">
<script src="./common/js/jQuery2.0.2.min.js"></script>
<script src="./common/js/zebra_datepicker.min.js"></script>
<script src="./common/js/jquery.nouislider.min.js"></script>
<script src="./common/js/main.min.js"></script>
<script>
function validateForm() {
	console.log("validating form...");   
    if (document.forms["addcourse"]["course"].value == null || document.forms["addcourse"]["course"].value == "") {
        alert("You must enter a course ID");
        return false;
    }
    if (document.forms["addcourse"]["professor"].value == null || document.forms["addcourse"]["professor"].value == "") {
        alert("Please enter professor's name");
        return false;
    }
    if (courses.owner.length > 5) {
        alert("Please enter 5");
        return false;
    }
}

</script>

</head>

<body>

<div class="app-wrapper">

<nav class="main-menu">
<a href="#">Something</a>
<a href="#">Something</a>
<a href="#">Something</a>
</nav><!--#main-menu-->
 
<header>
	<div class="main-menu-button main-menu-button-left"><a class="left-arrow" href = "Settings">&nbsp;</a></div>
<h1>Add A Course</h1>
</header>

<div class="app-content">

<form name="addcourse" onsubmit ="return validateForm()" action = "/courseSaved">

<section class="border-bottom">
	<div class="content">
		<h3>Course ID</h3>
		<p>(ex. CSE 170)</p>
		<div class="form-control-group">
			<div class="form-control form-control-text">
				<input type="text" name="course" id ="course">
			</div>
		</div>
	</div><!--.content-->
</section>

<section class="border-bottom">
	<div class="content">
		<h3>Professor</h3>
		<p>Last name only (ex. Klemmer)</p>
		<div class="form-control-group">
			<div class="form-control form-control-text">
				<input type="text" name="professor" id="professor">
			</div>
		</div>
	</div><!--.content-->
</section>

<section class="data-capture-buttons two-buttons">
	<div class="content">
		<a href="Settings">cancel</a>
    	<input type="submit" value="save" ></input>
    </div>
</section><!--.data-capture-buttons-->

</form>

</div><!--#app-content-->
</div><!--#app-wrapper-->

</body>
</html>
