<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>Create Session</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1,	minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="./common/css/app.min.css">
<script src="./common/js/jQuery2.0.2.min.js"></script>
<script src="./common/js/zebra_datepicker.min.js"></script>
<script src="./common/js/jquery.nouislider.min.js"></script>
<script src="./common/js/main.min.js"></script>

</head>

<body>

<div class="app-wrapper">

<nav class="main-menu">
<a href="#">Something</a>
<a href="#">Something</a>
<a href="#">Something</a>
</nav><!--#main-menu-->

<header>
<div class="main-menu-button main-menu-button-left"><a class="left-arrow" href = "sessions">&nbsp;</a></div>
<h1>Create A Session</h1>
</header>

<div class="app-content">

<form name="addsession" onsubmit ="return validateForm()">

<section class="border-bottom">
	<div class="content">
		<h3>Course</h3>
		<div class="form-control-group">
			<div class="form-control form-control-select">
				<select name = "selectcourse">
					<option></option>
					{{#each owner}}
					<option>{{course}}</option>
					{{/each}}
				</select>
			</div>
		</div>
	</div><!--.content-->
</section>


<section class="border-bottom">
	<div class="content">
		<h3>Location</h3>
		<p>(ex. Geisel 2nd Floor West)</p>
		<div class="form-control-group">
			<div class="form-control form-control-text">
				<input type="text" name="location">
			</div>
		</div>
	</div><!--.content-->
</section>


<section class="border-bottom">
	<div class="content">
		<h3>How to find you</h3>
		<p>(ex. to left of Research Assistance Desk, wearing a red shirt and a hoodie)</p>
		<div class="form-control-group">
			<div class="form-control form-control-textarea">
				<textarea name = "howto"></textarea>
			</div>
		</div>
	</div><!--.content-->
</section>

<section class="border-bottom">
	<div class="content">
		<h3>Additional Information</h3>
		<p><i>*optional</i></p>
		<p>(ex. Working on Assignment 2. Stuck on part 3)</p>
		<div class="form-control-group">
			<div class="form-control form-control-textarea">
				<textarea name = "extra"></textarea>
			</div>
		</div>
	</div><!--.content-->
</section>

<section class="border-bottom">
	<div class="content">
		<h3>Phone Number</h3>
		<p><i>*optional</i></p>
		<div class="form-control-group">
			<div class="form-control form-control-text">
				<input type="text" name="phone">
			</div>
		</div>
	</div><!--.content-->
</section>

<section >
	<div class="content">
		<h3>Duration</h3>
		<div class="form-control-group">
			Hours
			<div class="form-control form-control-number">
			<input type="number" name="hours">
			</div>
		</div>
		<div class="form-control-group">
			Minutes
			<div class="form-control form-control-number">
			<input type="number" name="mins" >
			</div>
		</div>
	</div><!--.content-->
</section>

<section class="data-capture-buttons two-buttons">
	<div class="content">
    	<a href="/sessions">cancel</a>
    	<input type="submit" value="save"></input>
    </div>
</section><!--.data-capture-buttons-->

</form>

</div><!--#app-content-->
</div><!--#app-wrapper-->

</body>
</html>
