<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>Map View</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="common/css/app.min.css">
<script src="common/js/jQuery2.0.2.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="common/js/main.min.js"></script>

<script>
//var session = require("../common/json/sessions.json");
$(document).ready(function() {

    var markers = [
        {
            id: 0,
            lat: 32.88077,
            lng: -117.238064,
            contentString: "<div class='infowindow-container'><a href='detailview1/1' class='content'><h2>Tayna Giambrone </h2>                <p>Location: Geisel Library</p><p> Time left: 360 min</p>                <p>Professor: Gaston Amsden</p></a></div>"
        },
		{
            id: 1,
            lat: 32.882077,
            lng: -117.238064,
            contentString: "<div class='infowindow-container'><a href='detailview1/4' class='content'><h2>Leisha Krob </h2><p>Location: Geisel Library</p><p> Time left: 170 min</p><p>Professor: Gaston Amsden</p></a> </div>"
        },
		{
            id: 2,
            lat: 32.8810572,
            lng: -117.2376268,
            contentString: "<div class='infowindow-container'><a href='detailview1/4' class='content'><h2>Angela Spencer </h2><p>Location: Geisel Library</p><p> Time left: 360 min</p><p>Professor: Gaston Amsden</p></a> </div>"
        },
		{
            id: 3,
            lat: 32.879980,
            lng: -117.2384650,
            contentString: "<div class='infowindow-container'><a href='detailview1/9' class='content'><h2>Jeremey Lin </h2><p>Location: Geisel Library</p><p> Time left: 170 min</p><p>Professor: Gaston Amsden</p></a> </div>"
        },
		{
            id: 4,
            lat: 32.88500045,
            lng: -117.2370322,
            contentString: "<div class='infowindow-container'><a href='detailview1/3' class='content'><h2>Bob Brown </h2><p>Location: Geisel Library</p><p> Time left: 360 min</p><p>Professor: Gaston Amsden</p></a> </div>"
        },
		{
            id: 5,
            lat: 32.8807932,
            lng: -117.2389624,
            contentString: "<div class='infowindow-container'><a href='detailview1/5' class='content'><h2>Sarah Miller </h2><p>Location: Geisel Library</p><p> Time left: 170 min</p><p>Professor: Gaston Amsden</p></a> </div>"
        }
    ];
    mapObj.init({
        view: "fullView",
        markers: markers
    });
});
</script>
{{> tracking_code_script_google}}

</head>

<body>

<div class="app-wrapper">

<nav class="main-menu">
<a href="#">Something</a>
<a href="#">Something</a>
<a href="#">Something</a>
</nav><!--#main-menu-->

<header>
<div class="main-menu-button main-menu-button-left"><a class="left-arrow" href = "Tabbed">&nbsp;</a></div>
<!--<div class="main-menu-button main-menu-button-right"><a class="gear">&nbsp;</a></div> -->
<h1>CampuStudy</h1>
</header>

<div class="app-content">

<div id="map-canvas-wrapper">&nbsp;</div>

</div><!--#app-content-->
</div><!--#app-wrapper-->

</body>
</html>
