<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>My Courses</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="common/css/app.min.css">
<script src="common/js/jQuery2.0.2.min.js"></script>
<script src="common/js/main.min.js"></script>

</head>

<body>

<div class="app-wrapper">

<nav class="main-menu">
<a href="#">Something</a>
<a href="#">Something</a>
<a href="#">Something</a>
</nav><!--#main-menu-->

<header>
<div class="main-menu-button main-menu-button-left"><a class="left-arrow" href = "Tabbed">&nbsp;</a></div>
<div class="main-menu-button main-menu-button-right"><a class="plus" href="addCourse">&nbsp;</a></div>
<h1>Courses</h1>
</header>

<div class="app-content">

<form>


<!--<div class="list-view-header">Courses</div>-->

{{#each owner}}
<section class="border-bottom">
    <div class="content">
        <div class="span-66 settings settings-left">
            <h3>{{course}}</h3>
			Professor: {{professor}}
        </div><!-- .span-50 -->
        <div class="span-50 settings settings-right">
            <div class="form-control-group">
				<div class="form-setting-delete">
					<a  href="#">&nbsp;</a>
				</div>
			</div><!--.span-50-->	
		</div><!-- .content -->
</section>
{{/each}}



</form>
</div><!--#app-content-->
</div><!--#app-wrapper-->

</body>
</html>